<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="io.openliberty.elph"
            name="Eclipse Liberty Project Helper">
      </category>
      <wizard
            category="io.openliberty.elph"
            class="io.openliberty.elph.importer.ImportLibertyProjectsWizard"
            icon="img/elfpicture.jpg"
            id="io.openliberty.elph.importer.wizard1"
            name="ELPH Importer Plugin">
      </wizard>
   </extension>

</plugin>
