<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="io.openliberty.elph"
            name="Elph">
      </category>
      <wizard
            category="io.openliberty.elph"
            class="io.openliberty.elph.importer.ImportLibertyProjectsWizard"
            icon="img/OL_logomark_400.png"
            id="io.openliberty.elph.importer.wizard"
            name="Import Liberty Projects">
      </wizard>
   </extension>

</plugin>
